.section{
    display: flex;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    height: calc(100vh - 200px);
    background: aliceblue;
    border-radius: 10px;
    padding: 10px;
    gap: 40px;
}

.aside{
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.main{
    width: 70%;
    display: flex;
    align-items: flex-start;
}

.prompt{
    padding: 15px;
    background: rgba(127, 255, 212, 0.27);
    color: grey;
    border-radius: 5px;
    width: 100%;
}

.companyName{
    font-size: 14px;
    font-weight: 600;
}

.company{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.companiesList{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.activeUnit{
    color: #002b70;
    font-weight: 900;
}

.pressedArrow{
    transform: rotate(180deg);
}
